header.header
  .container.flex
    .logo
      a.header-logo(href="#"): img(src="../../logo.svg", alt="Toxin")
      nav.header-nav(class="flex")
        ul
          li.header-nav-item: a.header-nav-link(href="#") О нас