mixin header(status, navigations)
  header.header
    .header-container
      a.header-logo(href="index.pug"): img(src="../../logo.svg", alt="Toxin")
      a.burger(href="/")
      nav.header-nav
        ul
          li.header-item
            a.header-link(href="/") UI Компоненты
          each item in navigations
            if item.submenu
              li.header-item.submenu
                a.header-link(href="#") #{item.name}
            else
              li.header-item
                a.header-link(href="#") #{item.name}
        ul
          if status === "unautorized"
            li.header-item
            li.header-item
          else if status === "authorized"
            li.header__item
              span.header__user-name
                a(href="/").header__link maxx
