extends ../template

block title

block styles 

block content
  include ../mixins
  include ../../components/header/header

  main.main

  include ../../components/footer/footer

  script(src="../../../node_modules/air-datepicker/dist/js/datepicker.min.js")
  script(src="rooms.js")