.footer
  border-top: 1px solid rgba(31, 32, 65, .25)
  .main-footer
    .description
      width: 260px
      line-height: 24px
      margin-right: 40px
      .main-footer-info
        margin-top: 16px
      .main-footer-logo
        display: block
        margin-top: -4px
    &-subscription
      width: 260px
      line-height: 24px
      margin-left: 51px
      &-offer
        margin:
          top: 18px
          bottom: 23px
    .container
      padding: 102px 0 100px
      display: flex
      justify-content: space-between
      .main-footer-nav
        display: flex
        .footer-nav
          list-style: none
          &:nth-child(2)
            margin: 0 92px 0 58px
          &-link
            color: $accent-50
            line-height: 17px
          &-item
            margin-top: 22px
            display: list-item
            &:nth-child(2)
              margin-top: 21px
  .sub-footer
    border-top: 1px solid rgba(#d0d0d4, .5)
    padding: 18px 0 23px
    background: #fff
    .container
      display: flex
      align-items: center
      justify-content: space-between
      margin: 0 auto
    &-copy
      font-size: 14px
    &-nav
      .footer-soc
        &-list
          .footer-soc-icon
            transition: all .25s ease
            &:hover
              transform: scale(1.1)
              transition: all .25s ease
          display: inline-block
          margin:
            left: 21px
            top: 5px
            right: 1px
          &::first-child
            margin-left: 0