@import "../../sass/main"
	
.checkbox-buttons
	&__input
		display: none
		&:checked + .checkbox::after
			opacity: 1
	.checkbox
		display: block
		position: relative
		margin-left: 30px
		margin-bottom: 15px
		font-size: 14px
		line-height: 18px
		color: $accent50
		cursor: pointer
		&::before
			content: ''
			width: 20px
			height: 20px
			position: absolute
			left: -30px
			border: 1px solid $accent25
			border-radius: 4px
			transition: border .25s ease
		&::after
			content: ''
			width: 8px
			height: 6px
			display: block
			border: 1px solid
			border-image: linear-gradient(180deg, $purple 0%, #8BA4F9 100%)
			border-top: 0
			border-right: 0
			transform: rotate(-45deg)
			position: absolute
			top: 6px
			left: -24px
			opacity: 0
		&:hover::before
			border: 1px solid $accent

.radio-buttons
	margin-top: 41px
	.radio-box
		display: flex
		justify-content: space-between
		margin-top: 16px
		.radio-btn
			display: none
		.radio-label
			font-weight: 400
			text-transform: none
			font-size: 14px
			color: $accent75
			position: relative
			margin-left: 30px
			cursor: pointer
			&::before
				content: ''
				width: 20px
				height: 20px
				position: absolute
				left: -30px
				border-radius: 10px
				border: 1px solid $accent25
				display: block
			&::after
				content: ''
				width: 12px
				height: 12px
				border-radius: 10px
				display: block
				position: absolute
				top: 5px
				left: -25px
		.radio-btn:not(:checked) + .radio-label::before
			border: 1px solid $accent25
		.radio-btn:checked + .radio-label::after
			background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%)
		.radio-btn:checked + .radio-label::before
			border: 1px solid $purple

.toggle-buttons
	margin-top: 45px
	.toggle-label
		font-weight: 400
		text-transform: none
		display: inline-block
		margin-top: 16px
		position: relative
		margin-left: 50px
		transition: .5s ease
		&::before
			content: ''
			width: 40px
			height: 20px
			position: absolute
			left: -50px
			border-radius: 10px
			transition: .5s ease
		&::after
			content: ''
			width: 12px
			height: 12px
			border-radius: 10px
			display: inline-block
			position: absolute
			top: 5px
	.toggle-input
		display: none
	.toggle-input:not(:checked) + label::before
		border: 1px solid #000
	.toggle-input:not(:checked) + label::after
		background-color: $accent25
		left: -45px
	.toggle-input:checked + label::after
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
		left: -25px
	.toggle-input:checked + label::before
		border: 1px solid $purple

.like-buttons
	margin-top: 45px
	.like-label
		font-size: 10px
		color: $accent25
	.like-btn
		width: 40px
		height: 20px
		border: 1px solid $accent25
		border-radius: 10px
		margin-top: 16px
		margin-right: 10px
		display: inline-block
		.material-icons
			width: 20px
			height: 20px
			font-size: 10px
			line-height: 8.5px
			text-align: center
			margin-top: 6px
			color: $accent25
			&:nth-child(2)
				color: $purple
		input
			display: none

.rate-buttons
	margin-top: 40px
	.label
		text-transform: uppercase
		font-weight: 700
	.star-rating
		margin-top: 16px
		&__wrap
			overflow: hidden
			&:not(:checked) > .star-rating__input
				display: none
		&__ico
			width: 24px
			height: 24px