extends ../template

block title
  title Отель "Toxin" | Компоненты

block styles
  link(rel="stylesheet", href="ui-kit.sass")

block content
  include ../mixins

  main
    include colors-type/colors-type

    img.logo(src="img/logo.svg", alt="logo")
    .form-elements
      .container
        .fields
          .t-field
            +field-label('text field', 'fieldDefault')(placeholder="Email")
          .t-field
            +field-label('text field', 'fieldHover')(value="Thi is pretty awesome")
          .t-field
            +field-dropdown('text field', 'dropdown')(value="Сколько гостей")
          .t-field
            +field-masked('Masked text field', 'masked', 't-field-dropdown')(placeholder="ДД.ММ.ГГГГ")
          +field-group('t-field', 'date Dropdown', 'arrival', 'date Dropdown', 'checkOut', '', '19.03.2019')(placeholder="ДД.ММ.ГГГГ")
          .t-field
            +field-dropdown('filter date dropdown', 'filterDate')(value="4 мар - 15 мар")
          .t-field
            +field-arrow('subscription text field', 'subscr')(type="email" placeholder="Email")
        .buttons
          .buttons-checkbox
            h3 Checkbox Buttons
            .checkbox-example
              +checkbox('Можно курить', 'smoke')
              +checkbox('Можно с питомцами', 'pets', 1)
              +checkbox('Можно пригласить гостей (до 10 человек)', 'guests', 1)
          .buttons-radio
            h3 Radio buttons
            .radio-example
              +radio('Мужчина', 'man', 'sex', 'man')
              +radio('Женщина', 'woman', 'sex', 'woman')
          .buttons-toggle
            h3 Toggle
            .toggle-example
              +btn-toggle('Получать спецпредложения', 'offer')(checked)
            .toggle-example
              +btn-toggle('Получать спецпредложения', 'offer2')
          .buttons-like
            h3 Like Button
            .like-group
              +like('12')
              +like('12', true)
          .buttons-rate
            h3 Rate Button
            .rate-group
              +rating('example', 4, 5)
            .rate-group
              +rating('example', 5, 5)
          include ../../components/range-slider/range-slider
          .buttons-buttons
            h3 Buttons
            .buttons-gradient 
              +btn-gradient('btn-example', 'Click Me')
              +btn-gradient('btn-example', 'Click Me')
            .buttons-not-gradient
              +btn-not-gradient('btn-example', 'Click Me')
              +btn-not-gradient('btn-example', 'Click Me')
            .buttons-links
              +link('link-example', 'Click Me')
              +link('link-example', 'Click Me')
            .buttons-arrow
              +btn-arrow('btn-example', 'Перейти к оплате')
          .buttons-pagination 
            h3 Pagination
            include ../../components/pagination/pagination