@import "../../sass/main"

.logo
	margin: 30px

.container-flex
	margin: 0 150px
	justify-content: space-between
	align-items: start
	.colors
		max-width: 281px
		&-list
			margin: 0
			padding: 0
			list-style-type: none
			&-item
				display: flex
				justify-content: flex-start
				align-items: center
				.colors-box-0
					background-color: $accent
				.colors-box-1
					background-color: $accent75
				.colors-box-2
					background-color: $accent50
				.colors-box-3
					background-color: $accent25
				.colors-box-4
					background-color: $accent5
				.colors-box-5
					background-color: $purple
				.colors-box-6
					background-color: $green
				.colors-title
					font-size: 19px
					margin-left: 40px
					padding-bottom: 8%
					&-description
						font-weight: 700
						display: block
						text-align: left
					&-code
						display: block
						text-align: left

	.type
		max-width: 430px
		&-list
			margin: 0
			padding: 0
			list-style-type: none
			&-item
				display: flex
				justify-content: flex-start
				align-items: start
				.type-box-0, .type-title-0
					font-size: 24px
					line-height: 29px
				.type-title-0, .type-title-1, .type-title-2
					font-weight: 700
				.type-box-1, .type-title-1
					font-size: 19px
					line-height: 23px
				.type-box-2, .type-title-2
					font-size: 12px
					line-height: 14.63px
					text-transform: uppercase
				.type-box-3, .type-title-3
					font-size: 14px
					line-height: 24px
				.type-box-3
					color: $accent25
				.type-title-3
					color: $accent75