extends ../template

block title
  title Отель "Toxin" | Главная
block styles
  link(rel="stylesheet" href="index.sass")
block content
  include ../mixins

  include ../../components/header/header
  main
    .container

  include ../../components/footer/footer