@import "../../sass/main"
@import "../../components/header/header"
@import "../../components/footer/footer"
@import "../../components/field-default/field-default.sass"
// @import "../../components/field-expand/field-expand.sass"

main
  background: $accent-5 url('img/bg.png') no-repeat
  background-size: cover auto
  background-position: 0 -70px