extends ../template

block title
  title Отель "Toxin" | Главная
block styles
  link(rel="stylesheet" href="index.sass")
block content
  include ../mixins

  include ../../components/header/header
  main.main
    .container
      //- a(href="../ui-kit/ui-kit.pug") UI kit
      include ../../components/find-room/find-room
      p.wishes Лучшие номера для вашей работы, отдыха и просто вдохновения

  include ../../components/footer/footer