.find-room
  h1.find-room-title Найдём номера под ваши пожелания
  form.find-room-form
    +field-group('find-room', 'Прибытие', 'find-room-form', 'Выезд', 'find-room-to')(value="ДД.ММ.ГГГГ" autocomplete="off" readonly)
    .find-room-item.find-room-guests
      +field-dropdown('Гости', 'guests')(value="Сколько гостей" readonly)
    +btn-arrow('find-room-btn', 'Подобрать номер')