.field-default
  width: 100%
  height: 44px
  border: 1px solid $accent-25
  border-radius: 4px
  padding: 11px 40px 13px 14px
  outline: none
  color: $accent-75
  &::placeholder
    color: $accent-25
  &:hover, &:focus
    border: 1px solid $accent-50

.field-arrow
  position: relative
  &::after
    content: url('../../components/footer/img/arrow.svg')
    display: inline-block
    width: 44px
    height: 44px
    position: absolute
    top: 12px
    right: 0
    text-align: center
    cursor: pointer

.field-default-dropdown
  cursor: pointer

.field-default-masked
  cursor: default
  &:hover
    border: 1px solid $accent-25
  &:disabled
    background: #fff

div[class$='group-field']
  display: flex
  justify-content: space-between
  div[class$='item']
    position: relative
    margin-top: 19px
    width: 150px

.label-cap
  position: relative
  font-family: $default-font
  font-size: 12px
  line-height: 15px
  text-transform: uppercase
  font-weight: bold
  color: $accent
  line-height: 15px
  &::after
    content: ''
    display: inline-block
    position: absolute
    top: 39px
    right: 18px
    width: 9px
    height: 9px
    border: 2px solid $accent-50
    border-top: 0
    border-left: 0
    transform: translateY(-50%) rotate(45deg)
    cursor: pointer

// Dropdown

.dropdown-content
  width: 100%
  border: 1px solid $accent-50
  border-top: none
  border-radius: 4px
  padding: 7px 7px 13px 15px
  position: absolute
  background-color: #fff
  z-index: 1
  opacity: 0
  max-height: 0
  overflow: hidden
  left: 100000px
  transition: opacity .3s, max-height .3s

.dropdown-content-active
  max-height: 300px
  left: auto
  opacity: 1
  border-top-right-radius: 0
  border-top-left-radius: 0

.field-default-active
  border: 1px solid $accent-50
  border-bottom-right-radius: 0
  border-bottom-left-radius: 0

.find-room-item
  position: relative

.dropdown-item
  text-transform: uppercase
  font-size: 12px
  line-height: 15px
  font-weight: bold
  color: $accent
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 20px
  &:first-child
    margin-top: 5px
  &:last-child
    margin-bottom: 20px

.dropdown-btn
  position: absolute
  width: 30px
  height: 30px
  border-radius: 50%
  background: #fff
  border: 1px solid $accent-50
  color: $accent-50
  text-align: center
  line-height: 29px
  font-size: 18px
  font-weight: 100
  transition: .25s ease
  &:active
    background-color: $purple
    transition: .25s ease
    color: #fff
    border: none
    font-weight: bold

.dropdown-btn-minus
  right: 62px

.dropdown-btn-plus
  right: 0

.dropdown-value
  margin-right: 42px

.dropdown-btn-disable
  border: 1px solid $accent-25
  cursor: default
  pointer-events: none

.dropdown-functions
  margin-top: 30px
  display: flex
  align-items: center
  justify-content: space-between

.dropdown-functions-btn
  text-transform: uppercase
  font-weight: bold
  font-size: 12px
  line-height: 15px

.dropdown-clear
  color: $accent-50
  &:hover
    color: lighten($accent-50, 30%)

.dropdown-apply
  color: $purple
  &:hover
    color: lighten($purple, 5%)