doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    block title
    block styles
  body
    include mixins

    +header("non-autorized", [
      {name: "О нас"},
      {
        name: "Услуги",
        submenu: true
      },
      {name: "Вакансии"},
      {name: "Новости"},
      {
        name: "Соглашения",
        submenu: true 
      }
    ])

    block content

    +footer("full", [
      {
        title: "Навигация",
        items: [
          {
            title: "О нас",
            href: "/"
          },
          {
            title: "Новости",
            href: "/"
          },
          {
            title: "Служба поддержки",
            href: "/"
          },
          {
            title: "Услуги",
            href: "/"
          }
        ]
      },
      {
        title: "О нас",
        items: [
          {
            title: "О сервисе",
            href: "/"
          },
          {
            title: "Наша команда",
            href: "/"
          },
          {
            title: "Вакансии",
            href: "/"
          },
          {
            title: "Инвесторы",
            href: "/"
          }
        ]
      },
      {
        title: "Служба поддержки",
        items: [
          {
            title: "Соглашения",
            href: "/"
          },
          {
            title: "Сообщества",
            href: "/"
          },
          {
            title: "Связь с нами",
            href: "/"
          }
        ]
      }
    ])

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="../../components/header/header.js")