// USER VARIABLES SECTION

$accent: #1F2041 // Accent Color
$accent75: lighten(#1F2041, 5%)
$accent50: lighten(#1F2041, 25%)
$accent25: lighten(#1F2041, 50%)
$accent5: lighten(#1F2041, 75%)
$purple: rgba(188, 156, 255, 1)
$green:rgba(111, 207, 151, 1)



$fontsize: 16px // Body Font Size
$lineheight: 1.65 // Document Line Height
$userfont: montserrat, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

// IMPORT SECTION

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff')

@include font('montserrat', normal, 400, '../../fonts/montserrat-regular/montserrat-regular.woff')
@include font('montserrat', bold, 700, '../../fonts/montserrat-bold/montserrat-bold.woff')
@include font('opensans', bold, 700, '../../fonts/opensans-bold/opensans-bold.woff')

// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	font-size: $fontsize
	color: $accent
	min-width: 320px
	max-width: 1990px
	position: relative
	overflow-x: hidden
	margin: auto

.container, .container-flex
	margin: 0 140px

.container-flex
	display: flex

h3
	font-size: 24px
	line-height: 29px
	color: $accent
	margin: 0

.btn
	display: block
	border-radius: 22px
	border: none
	text-transform: uppercase
	font-size: 12px
	font-weight: bold
	text-decoration: none
	text-align: center

.arrow-send
	position: relative
	width: 100%
	padding: 15px 22px
	display: inline-block
	vertical-align: middle
	box-sizing: border-box
	&::after
		content: ''
		background-repeat: no-repeat
		background-position: center
		width: 44px
		height: 44px
		position: absolute
		right: 0
		top: 2px