.colors-type
  img.logo-min(src="img/logo-min.svg")
  .container
    .colors
      .colors-item
        .colors-box.d100
        .colors-info
          p Dark Shade 100%
          span #1f2041
      .colors-item
        .colors-box.d75
        .colors-info
          p Dark Shade 75%
          span #1f2041
      .colors-item
        .colors-box.d50
        .colors-info
          p Dark Shade 50%
          span #1f2041
      .colors-item
        .colors-box.d25
        .colors-info
          p Dark Shade 25%
          span #1f2041
      .colors-item
        .colors-box.d5
        .colors-info
          p Dark Shade 5%
          span #1f2041
      .colors-item
        .colors-box.purple
        .colors-info
          p Purple
          span #bc9cff
      .colors-item
        .colors-box.green
        .colors-info
          p Green
          span #6fcf97
    .type
      .type-item
        span.type-item-tag H1
        .type-item-example
          h1 This one is the sub-section or widget title
      .type-item
        span.type-item-tag H2
        .type-item-example
          h2 Next one is the item title inside widgets
      .type-item
        span.type-item-tag H3
        .type-item-example
          h3 This is a label or CTA text
      .type-item
        span.type-item-tag body
        .type-item-example
          p This one is the sub-section or widget title
          